.section--card {
  a {
    img {
      transition: all 500ms;
      &:hover {
        transform: rotateY(360deg);
      }
    }
  }

  .card-footer {
    img {
      margin: 0 5px;
    }
  }

  .card {
    margin: 2rem auto;
  }
}
