.section--card {
  a {
    img {
      transition: all 500ms;
      &:hover {
        transform: rotateY(360deg);
      }
    }
  }

  .card-footer {
    img {
      margin: 0 5px;
    }
  }

  .card {
    border: none;
    margin: 0.8rem auto;
    transition: ease-in-out 200ms;
    box-shadow: 0 0 2px rgb(51, 51, 51);

    &:hover {
      transform: translate(5px, -5px);
      box-shadow: -5px 5px 10px grey;
    }
  }
}
