.form--group {
  button {
    margin-top: 1rem;
  }
  .form-label {
    font-size: 18px;
    font-weight: 600;
  }

  .form-row {
    justify-content: space-between;
  }
  .input--group {
    margin-top: 20px;
    padding: 0 15px;
  }
}
